/*Global*/
html, body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    background-color: #292625;
}

h1 {
    font-size: 6em;
}

h2{
    font-size: 4em;
}

a {
    text-decoration: none;
}

/*Navigation*/
nav {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2em;
    color: yellow;
    margin-left: 1em;
}

nav ul {
    margin-right: 1em;
    padding: 0px;
}

.button {
    padding: 0.5em;
    border: 2px yellow solid;
    border-radius: 1em;;
    margin: 1em;
    color: white;
    transition: all 750ms linear;
}

.button:hover {
    background-color: yellow;
    color: black;
}

/*Hero*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    margin: 0px;
}

.subtitle {
    font-size: 1.5em;
}

.b {
    display: none;
}

.down-arrow {
    position: absolute;
    top: calc(90vh - 90px);
    left: calc(50vw - 14px);
    width: 0;
    height: 30px;
    border: 2px solid yellow;
    border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
  }
  
  .down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid yellow;
    border-right: 4px solid yellow;
    border-radius: 4px;
    transform: rotateZ(45deg);
  }

  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }

  /*Body*/
section {
    height: 90vh;
    background-color: #292625;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.divider {
    height: 50vh;
    background-color: #292625;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* About */
.about {
    text-align: center;
}

.portrait {
    clip-path: circle(50% at 50% 50%);
    margin-bottom: 1em;
    width: 350px;
    border: 5px solid yellow;
    border-radius: 100%;
}

.about h2 {
    margin-top: 0;
}

.about p {
    width: 60%;
    margin: 0 auto 1em;
    padding: 0 1em;
}

.about p b {
    color: yellow;
}

.about hr {
    width: 80%;
}


.favicons {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.skill {
    width: 90px;
}

.skill img {
    width: 60px;
}

.skill p {
    font-size: 0.8em;
    padding: 0;
    width: 100%;
}

/*Contact*/
.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact h2 {
    color: yellow;
}

form {
    background-color: black;
    width: 80vw;
    padding: 2em;
    border-radius: 1em;
}

input, textarea {
    width: 95%;
    border-radius: 0.5em;
}

/*media-queries*/
@media screen and (max-device-width: 750px) {
    .button {
        margin: 0.5em;
    }

    h1 {
        font-size: 5em;
    }
}

@media screen and (max-device-width: 650px) {
    .logo {
        font-size: 1em;
    }

    .button {
        font-size: 0.8em;
        margin: 0.2em;
    }

    h1 {
        font-size: 3.5em;
    }

    .a {
        display: none;
    }

    .b {
        display: block;
    }
}

@media screen and (max-device-width: 420px) {
    .logo {
        display: none;
    }

    h1 {
        font-size: 3em;
    }

    .subtitle {
        font-size: 1em;
    }
}
