/*Global*/
html, body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    background-color: #292625;
}

h2 {
    font-size: 18px;
}

/*Navigation*/
nav {
    height: 4rem;
    width: 98%;
    margin: 1rem auto;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
}

.logo {
    float: left;
    margin-left: 3rem;
    font-size: 2rem;
}

.links {
    position: absolute;
    float: right;
    right: 2rem;
}

.button {
    display: inline-block;
    text-align: center;
    background-color:#C0C0C0;
    color: black;
    border: black 2px solid;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    transition: 1s linear;
}

.button:hover {
    background-color:#979797;
}

/*Body*/
main {
    width: 98%;
    height: 30em;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 1em;
}

section {
    width: 98%;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
}

/*About Me*/
.about {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 4em;

}

.photo {
    border: 2px solid black;
    margin: 1em;
}

.text {
    margin-right: 1em;
}

.icons {
    display: flex;
    align-items: center;
}

.skills {
    width: 35px;
    height: 35px;
    margin-left: 1em;
}

.skills:hover {
    width: 48px;
    height: 48px;
}

/*Featured*/
.featured {
    padding-bottom: 1em;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex a {
    text-decoration: none;
}

.featureimg {
    margin: 1em 1em 0 1em;
    border: 2px black solid;
    border-radius: 10px;
}

.featured h1 {
    text-align: center;
    margin: 1em 1em 0 1em;
}

.subtitle {
    margin: 0 1em 0 1em;
    padding-left: 2px;
    color: black;
}
