/*Global*/
html, body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

h1 {
    font-size: 6em;
}

h2{
    font-size: 4em;
}

a {
    text-decoration: none;
}

/*Navigation*/


/*Hero*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    margin: 0px;
}

.subtitle {
    font-size: 1.5em;
}

.down-arrow {
    position: absolute;
    top: calc(100vh - 90px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border: 2px solid yellow;
    border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
  }
  
  .down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid yellow;
    border-right: 4px solid yellow;
    border-radius: 4px;
    transform: rotateZ(45deg);
  }

  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }

  /*Body*/
section {
    height: 100vh;
    background-color: #292625;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.divider {
    height: 50vh;
    background-color: #292625;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* About */
.about {
    text-align: center;
}

.portrait {
    clip-path: circle(50% at 50% 50%);
    margin-bottom: 1em;
    width: 350px;
    border: 5px solid yellow;
    border-radius: 100%;
}

.about h2 {
    margin-top: 0;
}

.about p {
    width: 60%;
    margin: 0 auto 1em;
    padding: 0 1em;
}

.about p b {
    color: yellow;
}

.about hr {
    width: 80%;
}

.skill {
    margin: 0.6em 0.5em;
    transition: all 100ms;
}

.skill:hover {
    transform: scale(130%);
    transform: translateY(-1em);
}